.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 20px;
    max-width: 200px;
    size-adjust: fixed;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}
